<h1>Genres</h1>

<%= form_tag genres_path, :method => :get, :class => "search-form" do %>
  <%= label_tag "Search for a genre:", nil, :class => "col-form-label" %>
  <%= text_field_tag :name, params[:name] %>

  <%= submit_tag "Search", :name => nil, :class => "btn btn-outline" %>
<% end %>

<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sortable("name", "Genre") %></th>
      <th scope="col"><%= sortable("Number of Movies") %></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
      <td><%= link_to genre.name, genre_path(genre) %></td>
      <td><%= genre.number_of_movies %></td>
      </tr>
    <% end %>
  </tbody>
</table>
