<h1>Actors</h1>

<%= form_tag actors_path, :method => :get, :class => "search-form" do %>
  <%= label_tag "Search for an actor:", nil, :class => "col-form-label" %>
  <%= text_field_tag :first_name, params[:first_name], :placeholder => "First Name" %>
  <%= text_field_tag :last_name, params[:last_name], :placeholder => "Last Name" %>

  <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-secondary" %>
<% end %>

<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sortable("last_name", "Name") %></th>
      <!-- I want to sort by number of movies, but this isn't a column in the table. Clicking on the link needs to call self.sort_by_number_of_movies, and if you click again it needs to reverse. -->
      <th scope="col"><%= sortable("movie_count", "Number of Movies") %></th>
    </tr>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
      <td><%= link_to actor.full_name, actor_path(actor) %></td>
      <td><%= actor.number_of_movies %></td>
      </tr>
    <% end %>
  </tbody>
</table>
