<h1>Actors</h1>

<h3>Search for an actor:</h3>
<%= form_tag(actors_path, :method => :get) do %>
  First Name: <%= text_field_tag :first_name, params[:first_name] %>
  Last Name: <%= text_field_tag :last_name, params[:last_name] %>

  <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
  <% @actors.each do |actor| %>
    <li><%= actor.full_name %></li>
  <% end %>
</ul>
