<h1><%= @actor.full_name %>'s Movies</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sortable("title") %></th>
      <th scope="col"><%= sortable("year") %></th>
      <th scope="col"><%= sortable("average_rating") %></th>
    </tr>
  </thead>
  <tbody>
    <% @actor.movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
      <td><%= movie.year %></td>
      <td><%= display_average_rating(movie) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
