<%= form_for movie, :class => "form-group" do |f| %>
  <%= f.label "Title:" %>
  <%= f.text_field :title, :class => "form-control" %>
  <br><br>
  <%= f.label "Synopsis:" %>
  <%= f.text_area :synopsis, :class => "form-control" %>
  <br><br>
  <%= f.label "Year:" %>
  <%= f.select :year, (Date.today.year-100)..(Date.today.year), :selected => movie.year, :class => "form-control" %>
  <br><br>

  <%= f.label "Genre(s):" %>
  <br>
  <%= f.fields_for :genres do |genre| %>
    <%= genre.text_field :name, :class => "form-group col-md-4" %>
    <br>
  <% end %>
  <br><br>

  <%= f.label "Starring:" %>
  <br>
  <%= f.fields_for :actors do |actor| %>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= actor.text_field :first_name, :class => "form-control", :placeholder => "First name" %>
      </div>

      <div class="form-group col-md-4">
        <%= actor.text_field :last_name, :class => "form-control", :placeholder => "Last name" %>
      </div>
    </div>
      <br>
    <% end %>
  <%= f.submit movie.persisted? ? "Update Movie" : "Add Movie", :class => "btn btn-secondary" %>
<% end %>
