<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: 50%"><%= sortable("title") %><%= sort_image("title") %></th>
      <th style="width: 25%"><%= sortable("year") %><%= sort_image("year") %></th>
      <!-- I want to be able to sort by the average rating, even though this is not a column in the db table.  -->
      <th style="width: 25%">Average Rating</th>

    </tr>
  </thead>
  <tbody>
    <% movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
      <td><%= movie.year %></td>
      <td><%= display_average_rating(movie) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
