<h1>Movies</h1>

<%= form_tag movies_path, :method => :get, :class => "search-form" do %>
  <%= label_tag "Search for a movie:", nil, :class => "col-form-label" %>
  <%= text_field_tag :title, params[:title] %>

  <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-secondary" %>
<% end %>

<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sortable("title") %></th>
      <th scope="col"><%= sortable("year") %></th>
      <th scope="col"><%= sortable("average_rating") %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
      <td><%= movie.year %></td>
      <td><%= display_average_rating(movie) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
