<h1>Movies</h1>

<h3>Search for a movie:</h3>
<%= form_tag(movies_path, :method => :get) do %>
  <%= text_field_tag :title, params[:title] %>

<%# **** fix btn-outline class %>
  <%= submit_tag "Search", :name => nil, :class => "btn btn-outline" %>
<% end %>

<br>

<table class="table">
  <thead>
    <tr>
      <td>
        <strong>Title</strong>
      </td>
      <td>
        <strong>Year</strong>
      </td>
      <td>
        <strong>Average Rating</strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
      <td><%= movie.year %></td>
      <td><%= display_average_rating(movie) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
