<h1>Movies</h1>

<%= form_tag movies_path, :method => :get, :class => "search-form" do %>
  <%= label_tag "Search for a movie:", nil, :class => "col-form-label" %>
  <%= text_field_tag :title, params[:title] %>

  <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-secondary" %>
<% end %>

<br>

<%= render partial: "movies", :locals => {:movies => @movies} %>
