<h1>Add a Movie to the Database</h1>

<%= form_for @movie do |f| %>
  <%= f.label "Title:" %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label "Synopsis:" %>
  <%= f.text_area :synopsis %>
  <br><br>
  <%= f.label "Year:" %>
  <%= f.select :year, (Date.today.year-100)..(Date.today.year), :selected => Time.current.year %>
  <br><br>
  <%= f.label "Starring:" %>
  <%# Nested form to select or add up to 5 actors per movie %>
  <br><br>
  <%= f.submit "Add Movie" %>
<% end %>
