<h1><%= @movie.title %></h1>

Genre(s):
<ul>
  <% @movie.genres.each do |genre| %>
  <%# add a delete button to remove a genre here instead of updating it in the update form %>
    <li><%= link_to genre.name, genre_path(genre) %></li>
  <% end %>
</ul>

Starring:
<ul>
  <% if current_user.admin? %>
    <% @movie.actors.each do |actor| %>
    <%# movie_actors_path is getting actor_id instead of movie_actor_id - need to fix %>
      <li><%= link_to actor.full_name, actor_path(actor) %> - <%= link_to "Delete", movie_actors_path(@movie, actor), :method => :delete %></li>
    <% end %>
  <% else %>
    <% @movie.actors.each do |actor| %>
      <li><%= link_to actor.full_name, actor_path(actor) %></li>
    <% end %>
  <% end %>
</ul>

Synopsis:
<p><%= @movie.synopsis %></p>

<%= link_to "Read reviews for #{@movie.title}", movie_reviews_path(@movie) %>
<br><br>
<%= link_to "Write a Review for #{@movie.title}", new_movie_review_path(@movie) %>

<br><br>

<% if current_user.admin? %>
  <%= link_to "Edit Movie", edit_movie_path(@movie) %>
<% end %>
