<h1><%= @movie.title %></h1>

Genre(s):
<ul>
  <% if current_user.admin? %>
    <% @movie.genres.each do |genre| %>
      <li><%= link_to genre.name, genre_path(genre) %> -
        <% movie_genre = MovieGenre.find_movie_genre(@movie, genre).last %>
        <%= link_to "Delete", movie_genre_path(movie_genre), :method => :delete %></li>
    <% end %>
  <% else %>
    <% @movie.genres.each do |genre| %>
      <li><%= link_to genre.name, genre_path(genre) %></li>
    <% end %>
  <% end %>
</ul>

Starring:
<ul>
  <% if current_user.admin? %>
    <% @movie.actors.each do |actor| %>
      <li><%= link_to actor.full_name, actor_path(actor) %> -
        <% movie_actor = MovieActor.find_movie_actor(@movie, actor).last %>
        <%= link_to "Delete", movie_actor_path(movie_actor), :method => :delete %></li>
    <% end %>
  <% else %>
    <% @movie.actors.each do |actor| %>
      <li><%= link_to actor.full_name, actor_path(actor) %></li>
    <% end %>
  <% end %>
</ul>

Synopsis:
<p><%= @movie.synopsis %></p>

<%= link_to "Read reviews for #{@movie.title}", movie_reviews_path(@movie) %>
<br><br>
<%= link_to "Write a Review for #{@movie.title}", new_movie_review_path(@movie) %>

<br><br>

<% if current_user.admin? %>
  <%= link_to "Edit Movie", edit_movie_path(@movie) %>
<% end %>
