<h1><%= current_movie.title %></h1>

Genre(s):
<ul>
  <%= render partial: "genres/genres", :locals => {:genres => current_movie.genres} %>
</ul>

Starring:
<ul>
  <%= render partial: "actors/actors", :locals => {:actors => current_movie.actors} %>
</ul>

Synopsis:
<p><%= current_movie.synopsis %></p>

<%= link_to "Read reviews for #{current_movie.title}", movie_reviews_path(current_movie) %>
<br><br>
<%= link_to "Write a Review for #{current_movie.title}", new_movie_review_path(current_movie) %>

<br><br>

<% if current_user.admin %>
  <%= link_to "Edit Movie", edit_movie_path(current_movie) %>
<% end %>
