<h1><%= current_movie.title %></h1>

Genre(s):
<ul>
  <%= render partial: "genres/genres", :locals => {:genres => current_movie.genres} %>
</ul>

Starring:
<ul>
  <%= render partial: "actors/actors", :locals => {:actors => current_movie.actors} %>
</ul>

Synopsis:
<p><%= current_movie.synopsis %></p>

<br><br>

<%= link_to "Read Reviews", movie_reviews_path(current_movie) %> | <%= link_to "Write a Review for #{current_movie.title}", new_movie_review_path(current_movie) %>

<br><br>

<%= edit_movie_link %>
