<h1><%= @movie.title %></h1>
<%# links to all actors in the movie %>

Starring:
<ul>
  <% @movie.actors.each do |actor| %>
    <li><%= actor.first_name %> <%= actor.last_name %></li>
  <% end %>
</ul>

Synopsis:
<p><%= @movie.synopsis %></p>

<%= link_to "Read reviews for #{@movie.title}", movie_reviews_path(@movie) %>
<br><br>
<%= link_to "Write a Review for #{@movie.title}", new_movie_review_path(@movie) %>
