<div class="info">
  <h1><%= @movie.title %></h1>
</div>

<div class="info">
  Genre(s):
  <ul>
    <% @movie.genres.each do |genre| %>
      <%= display_genre(@movie, genre) %>
    <% end %>
  </ul>

  Starring:
  <ul>
    <% @movie.actors.each do |actor| %>
      <%= display_actor(@movie, actor) %>
    <% end %>
  </ul>

  Synopsis:
  <p><%= @movie.synopsis %></p>
  <br>
</div>

  <%= link_to "Read Reviews", movie_reviews_path(@movie), :class => "btn btn-secondary" %>
  <%= link_to "Write a Review", new_movie_review_path(@movie), :class => "btn btn-secondary" %>
  <%= edit_movie_link %>
