<h1>Sign Up</h1>

<%= render partial: "layouts/errors", :locals => {:object => @user} %>

<%= form_for @user, url: "/signup" do |f| %>
  <%= f.label "Username:" %>
  <%= f.text_field :username %>
  <br><br>
  <%= f.label "Email:" %>
  <%= f.email_field :email %>
  <br><br>
  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.label "Check box if you're a site administrator:" %>
  <%= f.check_box :admin %>
  <br><br>
  <%= f.submit "Sign Up" %>
<% end %>
