<h1>Hello, <%= current_user.username %></h1>

<% if current_user.admin %>
  <h3>ADMIN</h3>
  <br><br>
<% end %>

<h2>Here are the latest movie reviews:</h2>

<% @reviews.each do |review| %>
  <%= link_to review.title, review_path(review) %>
  <br>
  <%# change to link to see all reviews by a user %>
  Written by: <%= review.user.username %>
  <br>
  <%# add date of review??? %>
  <%# link to movie show page %>
  Movie: <%= review.movie.title %>
  <br>
  <%# add a restriction on how much of review is shown here? %>
  Review: <%= review.content %>
  <br>
  Rating: <%= review.rating %>
  <br><br><br>
<% end %>
