<h1>Edit Review for <%= @review.movie.title %></h1>

<%= form_for @review do |f| %>
  <%= f.hidden_field :movie_id %>
  <%= f.label "Rating (1-5):" %>
  <%= f.number_field :rating, :value => @review.rating %>
  <br><br>
  <%= f.label "Title:" %>
  <%= f.text_field :title, :value => @review.title %>
  <br><br>
  <%= f.label "Review:" %>
  <br>
  <%= f.text_area :content, :value => @review.content %>
  <br><br>
  <%= f.submit "Update Review" %>
<% end %>
