<% if params[:movie_id] %>
  <h1><%= @movie.title %> Reviews</h1>

  <% @reviews.each do |review| %>
    <%= link_to review.title, review_path(review) %>
    <br>
    Written by: <%= review.user.username %>
    <br>
    <%# add date of review??? %>
    <%# add a restriction on how much of review is shown here? %>
    Review: <%= review.content %>
    <br>
    Rating: <%= review.rating %>
    <br><br><br>
  <% end %>
  <%= link_to "Write a Review for #{@movie.title}", new_movie_review_path(@movie) %>
<% else %>
  <h1>Movie Reviews</h1>

  <% @reviews.each do |review| %>
    <%= link_to review.title, review_path(review) %>
    <br>
    Written by: <%= review.user.username %>
    <br>
    <%# add date of review??? %>
    <%# link to movie show page %>
    Movie: <%= review.movie.title %>
    <br>
    <%# add a restriction on how much of review is shown here? %>
    Review: <%= review.content %>
    <br>
    Rating: <%= review.rating %>
    <br><br><br>
  <% end %>
<% end %>
