<% if params[:movie_id] %>
  <h1><%= @movie.title %> Reviews</h1>

  <% @reviews.each do |review| %>
    <%= review.title %>
    <br>
    Written by: <%= review.user.username %>
    <br>
    Review: <%= review.content %>
    <br>
    Rating: <%= review.rating %>
    <br><br><br>
  <% end %>
<% else %>
  <h1>Movie Reviews</h1>

  <% @reviews.each do |review| %>
    <%= review.title %>
    <br>
    Written by: <%= review.user.username %>
    <br>
    Movie: <%= review.movie.title %>
    <br>
    Review: <%= review.content %>
    <br>
    Rating: <%= review.rating %>
    <br><br><br>
  <% end %>
<% end %>
