<div class="info">
  <h1><%= reviews_display_header %></h1>
</div>

<div class="info">
  <%= no_reviews_message %>
  <% @reviews.each do |review| %>
    <%= display_review_title_link(review) %>
    <br>
    <%= render partial: "reviews", :locals => {:review => review} %>
    <br>
  <% end %>
</div>

<%= write_review_for_movie_link %>
