<!DOCTYPE html>
<html>
  <head>
    <title>RailsMovieReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to "Home", user_path(current_user) %> |
        <%# drop down for "Reviews" with options to write a review or go to all reviews? %>
        <%= link_to "Write a Review", new_review_path %> |
        <%= link_to "All Reviews", reviews_path %> |
        <%= link_to "Movies", movies_path %> |
        <% if current_user.admin? %>
          <%= link_to "Add Movie", new_movie_path %> | 
        <% end %>
        <%= link_to "Logout", logout_path, :method => "delete" %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> |
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>

    <% if flash[:message] %>
      <div><%= flash[:message] %></div>
    <% end %>

    <%= @error %>

    <%= yield %>

  </body>
</html>
